<div class ="customer">
<h1><%= link_to customer.full_name, customer %></h1>

<% if customer.image.present? %>
<p><%= image_tag customer.image, width:100 %></p>
<% end %>

<p><strong>Phone: </strong><%= customer.phone_number %></p>

<p><strong>Email: </strong><%= customer.email_address %></p>

<p><strong>Notes: </strong><%= customer.notes %></p>

</div>